body {
  font: 20px "Century Gothic", Futura, sans-serif;
  /* margin: 0 auto; */
  /* padding: 10px; */
  position: absolute;
  top: 38%;
  left: 40%;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  position: absolute;
  top: 50%;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(212, 197, 232);
  border: 1px solid #999;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(153, 174, 147);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
